.page.theme_dark{
  --color-main-text: #f1b2ce;
  --color-title: #db00ff;
  --shadow-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --description-color: var(--shadow-color);
  --description-text-color: var(--background-color);
  --section-text-color: var(--color-main-text);
  --border-color: var(--color-main-text);
  --color-section-title: var(--background-color);
  --rec-decoration: var(--shadow-color);
  --decoration-zone: var(--shadow-color);
  --link-hover: var(--color-main-text);
  --button: var(--shadow-color);
  --button-hover: var(--shadow-color);
  --button-visible: var(--shadow-color);
  --button-active: var(--shadow-color);
  --menu: var(--shadow-color);
  --without-bg-title: var(--shadow-color) ;
}
