:root{
  --font-IBM: "IBM Plex Mono", Arial, sans-serif;
  --color-main-text: #f1b2ce;
  --color-title: #db00ff;
  --shadow-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --description-color: var(--shadow-color);
  --description-text-color: var(--background-color);
  --section-text-color: var(--color-main-text);
  --border-color: var(--color-main-text);
  --color-section-title: var(--background-color);
}

.page {
  background-attachment: fixed;
}